.ArticleCard {
    font-size: 20px;
    padding: 20px 35px;
    display: flex;
    justify-content: space-around;
}

.ArticleCard-left{

}

.ArticleCard-right{
    max-width: 600px;
}

.ArticleCard-description {
    font-size: 30px;
    font-weight: 700;
    margin: 20px 0;
}

.ArticleCard-prop {
    margin: 20px 0;
}

.ArticleCard-label{
    padding: 10px 0;
    font-weight: 700;
    padding-right: 10px;
}

.ArticleCard-value{

}

.ArticleCard img{
    padding-top: 10px;
    width: 300px;
}

.ArticleCard-btn{
    font-size: 24px;
}
